html{
    
    --background-colour: #F4F1DE;
    --red :#e07a5f;
    --purple: #3d405b;
    --green: #81b29a;
    --yellow: #f2cc8f;
    --grey: #8B8B8B;
}

body{
    font-family: "Poppins" !important;
    background-color: var(--background-colour) !important;
    /* background: rgb(84, 80, 152);
    
    background: linear-gradient(45deg, rgba(84, 80, 152, 1) 0%, rgba(0, 255, 222, 1) 100%); */
    position: relative;
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    background-color: var(--green);    
    display: flex;
    height: 7.5vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1pt lightgrey;
    
}

.header>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.header>div>svg {
   height: 100%;
}

.header>.date {
    color: white;
    font-size: 20pt;
    margin: 0px 10px;
    /* margin-bottom: 5px; */
}

.main{
    display: flex;
    height: 100%;
    width: 100vw;
    padding: 10px;
}

.main>.meals_section{
    display: flex;
    width: 100%;
    height: 100%;
    height: fit-content;
    flex-direction: column;
}

.meals_list>div{
    border-bottom: solid 1pt var(--green);
    font-size: 12pt;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.meals_section>.meals_header{
    width: 100%;
    display: inline-flex;
    border-bottom: solid 1pt var(--green);
    margin-bottom: 5px;
}

.meal_placeholder{
    color: var(--grey);
}

.footer{
    background-color: var(--green);
    display: flex;
    min-height: 7.5vh;
    width: 100vw;
    border-top: solid 1pt lightgrey;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: -2px;
}

.tabs{
    margin-top: -7.5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.tabs>div{
    width: 50px;
    height: 50px;
    background-color: #3d405b;
    border-radius: 100%;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.tabs>div:hover {
    transition: 0.5s;
    background-color: var(--grey);
    transform: translateY(5px);
}

.tabs>div>svg {
    fill: #ffffff;
    height: 100%;
}

.tabs>.plus{
    background-color: var(--red);
}

.tabs>.plus:hover {
    /* background-color: var(--red); */
    transition: 0.5s;
}

.flag>svg {
    /* background-color: var(--red); */
    height: 90% !important;
}

.new_meal_section{
    display: flex;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
    overflow-y: hidden;
}

.new_meal_section>.search_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_btn{
     background-color: var(--yellow);
    border-radius: 0px 5px 5px 0px;
}

.search_help{
    color: var(--grey);
}

.search_results{
    display: flex;
    /* overflow-y: auto; */
    /* padding-bottom: 10vh; */
    width: 100%;
    height: 100%;
    align-items: flex-start;
    /* overflow-y: auto; */
    flex-direction: column;
    padding-bottom: 7.5vh;
}

.results_section_list{
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.recipe_template{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1pt var(--green);
    flex-direction: column;
}

.intial_recipe_view_divs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.recipe_img>img{
    height: 10vh;
    width: 10vh;
    object-fit: cover;
    border-radius: 5px;  
    margin-right: 5px;
}

.recipe_img {
    
    margin-right: 5px;
}

.recipe_additional_info{
    border-top: solid 1pt lightgray;
    padding-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.collapsible_recipe_info{
    border-bottom: solid 1pt lightgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.additional_info_li{
    list-style:circle;
    margin-bottom: 5px;
}

