html{
    --accent-color: rgb(255, 170, 0);
}

body{
    font-family: "Poppins" !important;
    min-height: 100vh;
}

.top{
    min-height: 100vh;
}

.title{
    font-weight: bold;
    /* font-size: 20pt; */
    letter-spacing: 5px;
}

.title::before {
    content: "{";
    position: relative;
    left: -10px;
    color: var(--accent-color);

   
}

.title::after {
    content: "}";
    position: relative;
    right: -10px;
    color: var(--accent-color);
}

.tag{
    font-weight: bold;
        /* font-size: 20pt; */
        letter-spacing: 5px;
}

.sub{
    color: gray;
}

.bottom{
    position: absolute;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
}

.bottom>div{
    border: solid 2pt;
    border-radius: 100%;
    padding: 10px;
    
    display: grid;
    justify-content: center;
    align-items: center;
}

.bottom>div>img {
    height: 5vh;
    color: var(--accent-color);
    
}