.location_text{
    margin-left: 10px;
    color: gray;
}

.btn_primary {
    background-color: var(--primary_orange);
    border-color: var(--primary_orange);
    color: white;
}


.about_us{
    display: flex;
    height: 90vh;
    align-items: center;
}

.about_us_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;    
    width: 100%;
    z-index: -1;
    position: absolute;

    background-image: url(./images/temp-landing-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
}

.about_us_img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(255, 255, 255);
        background: linear-gradient(240deg, rgba(255, 255, 255, 0) 0%, #023047 90%);
    /* Change the color and opacity as needed */
}

.about_us_content{
    /* width: 50%; */
    display: inline-flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
}

.about_us_content>h1{
    /* color: white;
    font-weight: bold; */
}

.about_us_content>p {
    color: white;
}

.get_in_touch_btn{
    background-color: var(--primary_orange);
    border-color: var(--primary_orange);
}

.locations_btn{
    border-color: var(--primary_orange);
    color: var(--primary_orange);
}



.hull_div{
    background-color: #8ecae6;
}

.location_bg{
    position: relative;
    padding: 20vh 0px;
}

.location_bg>.content{
    z-index: 2;
    position: relative;
}

.location_bg::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--primary_blue);
    background: linear-gradient(-120deg, rgba(255, 255, 255, 0) 0%, #023047 75%);
}

.find_out_more_btn{
    color: var(--primary_orange);
    border-color: var(--primary_orange);
}

.find_out_more_btn:hover {
    color: white;
    background-color: var(--primary_orange);
        border-color: var(--primary_orange);;
}

.hull_location{
    background-image: url(./images/hull.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 0px;
}

.lincoln_location{
    background-image: url(./images/lincoln.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 0px;
}

.lincoln_div{
    background-color: #219ebc;
}

.locations_content{
    display: flex;
    height: 100vh;
    align-items: center;
}

.btn-hull{
    background-color: var(--primary_blue);
    border-color: var(--primary_blue);
}

.btn-lincoln{
    background-color: var(--primary_blue);
    border-color: var(--primary_blue);
}

.location_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location_img{
    /* background-color: #fb8500; */
    height: 20vw;
    max-height: 200px;
}

.what_we_can_provide_content{
    background-color: var(--primary_blue);
    /* padding: 10vh 0px; */
    /* min-height: 100vh; */
}

.provide_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-bottom: 10px;
    width: 5vh;
}

.provide_img{
    max-width: 100%;
    max-height: 5vh;
}

.justify{
    text-align: justify;
}

.get_in_touch_div{
    /* padding: 10vh 0px; */
}



.location_btn{
    background-color: var(--primary_orange);;
    border-color: var(--primary_orange);;
}

.contact_card{
    border: solid 1pt lightgray;
    padding: 20px;
}

.social_media_icons>*>img{
    height: 5vh;
    width: auto;
    margin: 0px 10px;
}

.pre_footer{
    background-color: var(--primary_blue);
    padding: 10vh 0px;
}
