html{
    --primary_blue: #023047;
    --primary_orange: #fb8500;
}

body {
    font-family: "Titillium Web";
}

h1,
h2 {
    font-weight: bold;
    color: var(--primary_orange);
}

.btn_outline_primary{
    border-color: var(--primary_orange);
    color: var(--primary_orange);
}

.btn_outline_primary:hover {
    background-color: var(--primary_orange);
    border-color: var(--primary_orange);
    color: white;
}

.btn_primary {
    background-color: var(--primary_orange);
    border-color: var(--primary_orange);
    color: white;
}

.btn_primary:hover {
    background-color: #ff961d;
    border-color: #ff961d;
}

.navbar {
    display: flex;
    padding: 2.5vh 10px;
    /* background-color: lightcoral; */
    /* border-bottom: solid 1pt lightgray; */
    justify-content: space-between;
    min-height: 10vh;
}

.navbar>ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
}

.navbar>ul>li {
    padding: 0px;
    margin: 10px;
    transition: 0.25s;
}

.navbar>ul>li:hover {
    /* transform: translateY(2.5px); */
    transition: 0.25s;
}

.logo_div {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 5vh;
}

footer {
    min-height: 5vh;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}