html{
    --primary-colour: #ffe5e5;
    --accent-colour: #f6f0ff;
}


/* Animations */
.slide-out-left {
    animation: slide-left 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
    
        animation-iteration-count: 1;
        animation-fill-mode: both;
    
    /* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.slide-out-right {
    animation: slide-right 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;

    /* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.slide-in-left {
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    /* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.slide-in-right {
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    /* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

@keyframes slide-left {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-500px);
    }
}

@keyframes slide-right {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(500px);
    }
}

.slide-down{
    animation: slide-down 1s linear infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/*  */




.navbar {
    display: flex;
    padding: 2.5vh 10px;
    /* background-color: lightcoral; */
    /* border-bottom: solid 1pt lightgray; */
    justify-content: space-between;
    min-height: 10vh;
    color: black !important;
}

.nav-link{
    color: black !important;
}

.navbar>ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
}

.navbar>ul>li {
    padding: 0px;
    margin: 10px;
    transition: 0.25s;
}

.navbar>ul>li:hover {
    /* transform: translateY(2.5px); */
    transition: 0.25s;
}

.logo_div {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 5vh;
}

body{
    font-family: "Urbanist" !important;
    overflow-x: hidden;
}

h1,h2,h3,h4{
    font-family: "Crimson Text" !important;
    font-weight: 600 !important;
    /* margin-bottom: 0px !important; */
}

.logo_banner {
    /* background-color: black; */
    display: flex;
    max-height: 10vh;
    padding: 20px;
}

.logo_banner>img
{
    /* height: 100%; */
    display: flex;
    object-fit: contain;
}

#navbar {
    /* background-color: black; */
}


.sticky-top{
    background-color: white;
        /* height: 5vh; */
        box-shadow: #00000063 0px -3px 10px 5px;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav_links>li{
    list-style: none;
    text-align: center;
    margin: 5px;
    display: inline-flex;
    font-family: "Crimson Text";
    font-weight: bold;
    font-size: 14pt;
}

.about_us_section{
    background-color: var(--primary-colour);
    background: linear-gradient(90deg, var(--primary-colour), var(--accent-colour));
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_primary{
    border-radius: 0px !important;
    background-color: black !important;
    font-family: "Crimson Text" !important;
    border-color: black !important;
    text-transform: capitalize;
}

.btn_outline_primary{
    border-radius: 0px !important;
    background-color: none !important;
    font-family: "Crimson Text" !important;
    border-color: black !important;
    text-transform: capitalize;
    color: black !important;
}

.btn_outline_primary:hover {
    border-radius: 0px !important;
    background-color: black !important;
    font-family: "Crimson Text" !important;
    border-color: black !important;
    text-transform: capitalize;
    color: white !important;
}

.btn_outline_primary:focus{
    box-shadow: none !important;
}

.about_us_img{
    height: auto;
    max-width: 100%;
}

#services_container{
    opacity: 0;
}

.services_img{
    /* max-height: 30vh; */
    /* max-height: 100%; */
    width: 100%;
    height: auto;
}

.img_wrap{
    max-height: 50vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_cell{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    /* max-height: 25vh; */
}

.gallery_cell>img{
    height: 100%;
    width: 25vw;
}

.slider{
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.price_section{
    border: solid 1pt ;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-color: var(--primary-colour);
}

#prices_container{
    opacity: 0;
}

.price_section>ul{
    padding: 0px;
}

.price_section>ul>li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.our_work_section{
    /* background-color: var(--primary-colour);
        background: linear-gradient(90deg, var(--primary-colour), var(--accent-colour)); */
}

.work_image{
    display: flex;
    padding: 0px;
    margin: 0px;
    /* max-height: 20vh; */
    justify-content: center;
    align-items: center ;
    margin: 30px 0px;
}

.work_image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
        box-shadow: #a1a1a1 -2px -2px 5px 0px;
}

.carousel-item{
    /* background-color: black; */
    /* height: 400px; */
    color: black !important;
    font-family: "Crimson text" !important;;
    position: relative;
    min-height: 50vh;
}

.carousel_bg{
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

.inner{
    position: absolute;
    top: 25%;
}

.our_prices{
    background-color: var(--primary-colour);
        background: linear-gradient(90deg, var(--primary-colour), var(--accent-colour));
}

.img_div>img{
    /* object-fit: cover; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 100%; */
}

.img_div {
    /* min-height: 200px; */
    position: relative;
    width: 100%;
    height: 0;
}

.price{
    font-family: "Crimson Text";
    font-weight: 600;
}

.price_item>p{
    font-size: 10pt;
    
}

.price_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#test_container{
    opacity: 0;
}

.testimonials_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    background-image: url(./images/carousel_bg.jpg);
    /* min-height: 80vh; */
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;

    z-index: -2;
    position: relative;
    background-repeat: no-repeat;
}

.bg:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0.51));
}

.test_card{
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
}

#contact_container{
    opacity: 0;
}

.contact_card{
    background-color: var(--primary-colour);
        background: linear-gradient(90deg, var(--primary-colour), var(--accent-colour));
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social_icon>a>img{
    height: 2rem;
}



.footer{
    background-color: black;
}



.before_after_section{
    background-color: var(--primary-colour);
    background: linear-gradient(90deg, var(--primary-colour), var(--accent-colour));
    min-height: 80vh;
}

.item{
    display: flex;
    box-shadow: black -1px -1px 5px;
    
}

.comparison_img{
    display: flex;
    height: 100%;
    min-height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    transition: 0.25s;
}

.comparison_img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, #000000a5, #0000005a);
    transition: 0.25s;
    }

.comparison_img:hover {
    width: 300%;
    transition: 0.25s;
}

.comparison_img:hover::before{
    background:none;
    transition: 0.25s;
}
